ahahha, inside the show_files

<% form_tag user_downloads_url(current_user) do %>
	<%= text_area_tag 'links' %>
	<%=  submit_tag %>
<% end %>



<% if @downloads %>
<h2>
	Hello there, you have <%= @downloads.count %> downloads in queue
</h2>
<ul>
	<% for download in @downloads.reverse %>
		<li>
			<%= download.link %>
		</li>
	<% end %>
</ul>

<% end %>